{% load static%}
<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>{% block title %} {% endblock%}</title>
    <!-- Icons. Uncomment required icon fonts -->
    <link rel="stylesheet" href="{%  static 'css/fonts/boxicons.css' %}" />
    <link rel="stylesheet" href="{%  static 'css/demo.css' %}">
    <link rel="stylesheet" href="{%  static 'css/core.css' %}" />
    <link rel="stylesheet" href="{%  static 'css/theme-default.css' %}" />
    <link rel="stylesheet" href="{%  static 'libs/perfect-scrollbar/perfect-scrollbar.css' %}" />
    <link rel="stylesheet" href="{%  static 'libs/apex-charts/apex-charts.css' %}" />
    <script src="{%  static 'js/helpers.js' %}"></script>
    <script src="{%  static 'js/config.js' %}"></script>
</head>
<body>
  <div class="layout-wrapper layout-content-navbar">
 
      <!-- Layout wrapper -->
        {% block content %} {% endblock %}
        {% include 'component/nav/footer.html' %}
    </div>
      <!-- / Layout wrapper -->
   <!-- Core JS -->

    <!-- build:js assets/vendor/js/core.js -->
    <script src="{%  static 'libs/jquery/jquery.js' %}"></script>
    <script src="{%  static 'libs/popper/popper.js' %}"></script>
    <script src="{%  static 'js/bootstrap.js' %}"></script>
    <script src="{%  static 'libs/perfect-scrollbar/perfect-scrollbar.js' %}"></script>
    <script src="{%  static 'js/menu.js' %}"></script>
    <!-- endbuild -->
    <!-- Vendors JS -->
    <script src="{%  static 'libs/apex-charts/apexcharts.js' %}"></script>
    <!-- Main JS -->
    <script src="{%  static 'js/main.js' %}"></script>
    <!-- Page JS -->
    <script src="{%  static 'js/dashboards-analytics.js' %}"></script>
    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
     <!-- Page JS -->
     <script src="{%  static ' js/dashboards-analytics.js' %}"></script>
  
     
</body>
</html>